<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Humantic</title>
    {% include 'shared/_css.html' %}
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">

    {% include 'shared/_header.html' %}

    {% include 'shared/_slider.html' %}

    {% include 'pages/_service.html' %}

    {% include 'pages/_portefolio.html' %}

    {% include 'pages/_about.html' %}

    {% include 'pages/_contact.html' %}

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2020 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Humantic</a>. Tout droit reservé.
                </div>
                <div class="col-sm-6">
                    Designed by EXYTECH
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    {% include 'shared/_js.html' %}
</body>
</html>