<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Page 1</h1>
                    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, sint.<br>Download it right now for free</p>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Page 2</h1>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, soluta? <br>from Humantic</p>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
</section><!--/#main-slider-->